
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

xmp {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#example{
    display: none;
}

.burger-menu-icon {
    width: 3em;
    border: 2px solid var(--theme-fontcolor);
    border-radius: 0.5em;
    text-align: center;
    display: none;
}

.burger-menu-icon::before {
    font-family: "FontAwesome";
    content: '\f0c9';
    font-size: 1.5em;
}

.menu-item {
    flex: 1 0 20%;
}


@media all and (max-width: 576px) {
    .menu {
        flex-wrap: wrap;
    }

    .menu-item {
        flex: 1 0 100%;
    }

    .burger-menu-icon{
        display: block;
    }

    #burger-menu-icon:not(:checked) ~ .menu {
        display: none;
    }

    #burger-menu-icon:checked + label[for="burger-menu-icon"] {
        background-color: var(--theme-fontcolor);
        color: #fff;
    }
}

#mediaquery-example-1:checked ~ #example {
    display: block;
}
